/* Global */
:root {
  /* Color */
  --color-white: #fdfdfd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #012e55;
  --color-dark-blue: #143749;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-brown: #6b5f5c;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Company card */
.container {
  display: flex;
  background-color: var(--color-blue);
  width: 100%;
  height: auto;
}

.container__cardList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 30px 0px 10px 0px;
  border: 1px dotted var(--color-black);
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.container__cardList__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  width: 200px;
  height: 200px;
  background-color: var(--color-white);
}

.container__cardList__card__img {
  width: 150px;
  height: 55px;
}
