/* Global */
:root {
  /* Color */
  --color-white: #fdfdfd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #012e55;
  --color-dark-blue: #143749;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-brown: #6b5f5c;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Company card */
/* .container { */
/* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap; */
/* background-color: var(--color-light-white); */
/* } */

#cardList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 30px 0px 10px 0px; */
}

.cardList__Category {
  border-radius: 11px;
  border: 1px solid rgba(202, 205, 211, 0.5);
  box-shadow: -8px 8px 0 -2px rgba(234, 235, 237, 0.5);
  margin: 30px 0px 30px 0px;
  max-width: 1280px;
  min-width: 200px;
  min-height: 200px;
}

.container__cardList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1em;
}

.container__cardList__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5em;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  border: 1px solid rgba(202, 205, 211, 0.5);
  box-shadow: -8px 8px 0 -2px rgba(234, 235, 237, 0.5);
  /* box-shadow: -5px 5px 0px var(--color-light-white); */
  /* background-color: var(--color-white); */
  /* box-shadow: 7px 7px 10px rgba(55, 84, 170, 0.15), -7px -7px 20px #fff,
    1px 1px 4px rgba(255, 255, 255, 0.2); */
}

.container__cardList__card:hover {
  transform: translateY(-6px);
  transition: 250ms ease-in-out;
}

.container__cardList__card__img {
  max-width: 180px;
  max-height: 100px;
}

.container__cardList__card__title {
  text-align: center;
  width: inherit;
  word-wrap: break-word;
  font-weight: var(--weight-semi-bold);
  padding: 0.5em;
}
.partnerPanel {
  position: fixed;
  top: 0%;
  right: 0%;
  /* transform: translate(0%, -50%) scale(0); scale hides panel by default */
  transform: translate3d(100%, 0, 0);
  transition: 700ms ease-in-out;
  border-radius: 11px;
  z-index: 10;
  background-color: var(--color-white);
  /* min-width: 33vh; */
  min-height: 100vh;
  /* max-width: 80%; */
  max-height: 100%;
  /* overflow-y: auto; */
}

.partnerPanel.active {
  /* transform: translate(0%, -50%) scale(1); */
  transform: translate3d(0, 0, 0);
}

.partnerPanel__header {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
}

.partnerPanel__imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100vh;
  border-radius: 11px;
}

.partnerPanel__logo {
  width: inherit;
  height: inherit;
  border-radius: 11px;
}

.partnerPanel__closeBtn {
  position: absolute;
  top: 1%;
  right: 2.5%;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;

  /* cursor: pointer;
  border: none;
  outline:none;
  background: none;
  font-size: 1.25rem;
  font-weight: var(--weight-bold); */
}

/* .partnerPanel__content {
  padding: 20px 30px;
} */

/* background darkens when card clicked */
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /*Allows button events by default*/
}

#overlay.active {
  opacity: 1;
  pointer-events: all; /*Prevents button events out outside of the panel*/
}
