/* Global */
:root {
  /* Color */
  --color-white: #fdfdfd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #012e55;
  --color-dark-blue: #143749;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-brown: #6b5f5c;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-xlarge: 68px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section common */
.section {
  text-align: center;
  padding: 28px 12px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */

#navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;

  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

.navbar__logo img {
  height: 90px;
  padding-left: 24px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  position: relative;
}
/* 컴페티션 뒤에 오는 아이콘 나중에 확인 */
/* .navbar__menu__item.sub-menu:before{
  content: '+';
  position: absolute;
  color: var(--color-white);
  right: 0px;
  top:12px;
  
} */

.navbar__menu__item ul {
  position: absolute;
  background: var(--color-light-white);

  display: none;
}

.navbar__menu__item:hover ul {
  display: block;
}
.navbar__menu__item ul li {
  display: block;
  width: 190px;
  height: 40px;
  text-align: left;
  line-height: 15px;
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.navbar__menu__item ul li a {
  display: block;
  color: black;
  padding-left: 8px;
}

.navbar__menu__item a {
  font-weight: var(--weight-semi-bold);
  display: block;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item a {
  display: block;
  padding: 12px 8px;
}

.navbar__menu__item.active a {
  color: var(--color-orange);
}

.navbar__menu__item a:hover {
  color: var(--color-orange);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  top: 38px;
  display: none;
}

@keyframes slide {
  0% {
    transform: translate(0, -20px);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* BGholder */

#bgholder {
  height: 1000px;
  margin: 0 auto;
  padding-top: 160px;
  background: url("../img/blankbg.png") center/cover no-repeat;
  color: var(--color-white);
  text-align: center;
}

.cont {
  position: relative;
  height: 600px;
  max-width: 1200px;
  margin: 0 auto;
}

.testcontainer {
  /* background-color: red; */
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 0;
}

.box1 {
  /* border: 1px solid white; */
  width: 550px;
  height: 376px;
  background: url("../img/bf.png");
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: anim 2s forwards, anim2 3s forwards 3s;
}

.box1::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 376px;
  background: url("../img/af.png");
  left: 0px;
  animation: float 6s ease-in-out infinite;
  z-index: -1;
}

@keyframes anim {
  from {
    bottom: -50%;
  }
  to {
    bottom: 30%;
  }
}

@keyframes anim2 {
  from {
    left: 0;
    right: 0;
    /* left:20%; */
    width: 550px;
  }
  to {
    width: 0px;
    left: 10%;
  }
}

.box2 {
  width: auto;
  height: auto;
  line-height: 60px;
  position: absolute;
  top: 60px;
  left: 100px;
  overflow: hidden;
}

#text {
  text-align: left;
  position: relative;
  left: -100%;
  animation: anim3 3s forwards 3s;
}

#text .text__title {
  color: var(--color-yellow);
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
}

#text .text__subtitle {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

#text .text__date {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.bgholder__register {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  /* padding: 8px 12px; */
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-blue);
}

.bgholder__register a {
  display: block;
  padding: 8px 14px;
}

.bgholder__register a:hover {
  color: var(--color-orange);
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-10px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}

.box3 {
  position: absolute;
  width: 1200px;
  height: 130px;
  bottom: -10%;
  /* background-color: yellow; */
}

.box3__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box__container__logo1 a {
  display: block;
  width: 220px;
  height: 134px;
  cursor: pointer;
}

.box__container__logo2 a {
  display: block;
  width: 220px;
  height: 96px;
  cursor: pointer;
}

.box__container__logo3 a {
  display: block;
  width: 200px;
  height: 121px;
  cursor: pointer;
}

.box__container__logo4 a {
  display: block;
  width: 180px;
  height: 136px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box3__container .box__container__logo1 {
  width: 220px;
  height: 134px;
  background: url("../img/ksi.png");
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo2 {
  width: 220px;
  height: 96px;
  background: url("../img/kotra.png");
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo3 {
  width: 200px;
  height: 121px;
  background: url("../img/nipa.png");
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo4 {
  width: 180px;
  height: 136px;
  background: url("../img/KIC.png");
  animation: fadeIn ease 5s;
}
/* Exhibition Consulting Conference */
.containerTitle__list {
  /* display: inline-block; */
  text-align: left;
  display: block;
  padding-inline-start: 120px;
}

.containerTitle__list li {
  list-style-type: disc;
  padding: 5px;
}

/* Company card */

.containerTitle {
  padding: 30px 0px 30px 0px;
}

.containerTitle__name {
  line-height: 0.1;
  text-align: center;
}

.containerTitle__name span {
  /* display: inline-block;
  position: relative; */
  font-size: 30px;
  color: #003366;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  padding: 20px;
  background: #fff;
  margin: 0;
}
/* .containerTitle__name span:before, */
.containerTitle__name span:after {
  content: "";
  position: absolute;
  background: #ccc;
  height: 1px;
  width: 80%; /*65%*/
  left: 10%; /*18%*/
  margin-top: 3px;
  z-index: -1;
}

.heading-1 {
  display: flex;
  text-align: left;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: var(--color-dark-grey);
  text-shadow: 0 1px 1px #ffffff;
  padding-left: 250px;
  padding-right: 250px;
}

.heading-1 p {
  font-size: 0.7em;
  margin: 7px;
}

.block {
  background: #f5f5f5;
  max-width: 50rem;
  margin: auto;
}
.block td {
  vertical-align: top;
}
.block h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

.block p {
  font-size: 16px;
}

.block hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    var(--color-dark-blue),
    var(--color-white)
  );
}

#cardList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
}

.cardList__Category {
  margin: 8px 0px 40px 0px;
  max-width: 1280px;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid rgba(202, 205, 211, 0.5);
  border-radius: 6px;
}

#category__smartAppliances hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #967cfd,
    var(--color-white)
  );
  /* background: #9c91c6; */
}
#category__telecomunications hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #569cd5,
    var(--color-white)
  );
  /* background: #569cd5; */
}
#category__biotech hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #688dc9,
    var(--color-white)
  );
  /* background: #688dc9; */
}
#category__security hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #f69785,
    var(--color-white)
  );
  /* background: #f69785; */
}
#category__adas hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #86e68e,
    var(--color-white)
  );
  /* background: #a0d4a4; */
}
#category__robotics hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #f89f71,
    var(--color-white)
  );
  /* background: #f89f71; */
}
#category__itServices hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--color-white),
    #7fd0d8,
    var(--color-white)
  );
  /* background: #7fd0d8; */
}

.cardList__Category__title {
  font-size: var(--font-regular);
  text-align: center;
  color: var(--color-dark-grey);
  margin: 8px 24px 8px 24px;
}
.container__cardList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-start;
  height: 100%;
  padding: 1.1em;
  background: var(--color-white);
}

.container__cardList__card__container {
  height: 100px;
  position: relative;
}

.container__cardList__card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  border: 1px solid rgba(202, 205, 211, 0.5);
  box-shadow: -4px 4px 0 -2px rgba(202, 205, 211, 0.5);

  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  transition: 0.2s ease-in-out;
}

.speaker__card__content__more {
  transition: 0.1s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
}

#cardList__smartAppliances .speaker__card__content__more {
  border: 1.5px solid #967cfd;
  border-radius: 5px;
}

#cardList__telecomunications .speaker__card__content__more {
  border: 1.5px solid #569cd5;
  border-radius: 5px;
}

#cardList__itServices .speaker__card__content__more {
  border: 1.5px solid #7fd0d8;
  border-radius: 5px;
}

#cardList__adas .speaker__card__content__more {
  border: 1.5px solid #86e68e;
  border-radius: 5px;
}

#cardList__security .speaker__card__content__more {
  border: 1.5px solid #f69785;
  border-radius: 5px;
}

#cardList__biotech .speaker__card__content__more {
  border: 1.5px solid #688dc9;
  border-radius: 5px;
}

#cardList__robotics .speaker__card__content__more {
  border: 1.5px solid #f89f71;
  border-radius: 5px;
}
.speaker__card__content__more .text {
  /* background-color: rgba(14, 29, 75, 1); */
  background-color: var(--color-white);
  color: var(--color-orange);
  color: var(--color-dark-grey);
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: var(--weight-bold);
}

.container__cardList__card:hover .container__cardList__card__title {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  transition: 0.4s ease-in-out;
}

.container__cardList__card:hover .container__cardList__card__container {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  transition: 0.4s ease-in-out;
}

.container__cardList__card:hover .speaker__card__content__more {
  opacity: 1;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.container__cardList__card__img {
  max-width: 180px;
  max-height: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container__cardList__card__title {
  text-align: center;
  width: inherit;
  word-wrap: break-word;
  font-weight: var(--weight-semi-bold);
  padding: 0.5em;
  color: var(--color-grey);
}

#cardList__smartAppliances .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #967cfd;
  margin-bottom: 20px;
}

#cardList__telecomunications .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #569cd5;
  margin-bottom: 20px;
}

#cardList__biotech .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #688dc9;
  margin-bottom: 20px;
}

#cardList__security .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #f69785;
  margin-bottom: 20px;
}

#cardList__adas .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #86e68e;
  margin-bottom: 20px;
}

#cardList__robotics .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #f89f71;
  margin-bottom: 20px;
}

#cardList__itServices .container__cardList__card__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: #7fd0d8;
  margin-bottom: 20px;
}

/* company modal */
.partnerPanel {
  /* Trasition from right side */
  position: fixed;
  top: 0%;
  right: 0%;
  transform: translate3d(100%, 0, 0);
  max-width: 72vh;
  transition: 900ms ease-in-out;
  border-radius: 11px;
  z-index: 10;
  background-color: var(--color-white);
  min-height: 100vh;
  max-height: 100%;
}

.partnerPanel__header {
  position: relative;
}

.partnerPanel__closeBtn {
  /* Trasition from right side */
  position: absolute;
  top: 0.8%;
  right: 2%;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.partnerPanel__imgContainer {
  border-radius: 11px;

  min-width: 72vh;
  min-height: 100vh;
  max-width: 72vh;
  max-height: 100vh;
  height: auto;
  width: auto;
}

.partnerPanel__logo {
  max-width: 72vh;
  max-height: 100vh;
  min-width: 72vh;
  min-height: 100vh;
  border-radius: 11px;
}

.partnerPanel.active {
  /* Trasition from right side */
  transform: translate3d(0, 0, 0);
}

/* background darkens when card clicked */
#companyCardOverlay {
  position: fixed;
  opacity: 0;
  transition: 700ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /*Allows button events by default*/
}

#companyCardOverlay.active {
  opacity: 1;
  pointer-events: all; /*Prevents button events out outside of the panel*/
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.contact__container {
  display: flex;
  justify-content: space-between;
}

.contact__contact__form {
  width: 50%;
}

.contact__contact__form p {
  font-size: var(--font-small);
  color: var(--color-white);
}

.contact__description {
  width: 50%;
}

.contact__description p {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

.contact__description img {
  width: 350px;
}

.contact__description__detail p {
  font-size: var(--font-small);
  color: var(--color-white);
}
