/* Global */
:root {
  /* Color */
  --color-white: #fdfdfd;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #012e55;
  --color-dark-blue: #143749;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-brown: #6b5f5c;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-xlarge: 68px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Hamburger css */
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

/* Section common */
.section {
  text-align: center;
  padding: 28px 12px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.line__title {
  padding: 24px 0px 36px 0px;
}

.line__title h2 {
  font-weight: var(--weight-bold);
  position: relative;
  margin: 48px auto;
  padding: 0 24px;
}

.line__title h2:before {
  content: " ";
  display: block;
  width: 440px;
  height: 4px;
  background: linear-gradient(to left, black, white);
  /* background: radial-gradient(circle, rgba(2,0,36,1) 25%, rgba(9,9,121,1) 40%, rgba(9,15,125,1) 55%, rgba(6,84,170,1) 70%, rgba(255,255,255,1) 100%); */
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}

.line__title h2:after {
  content: " ";
  display: block;
  width: 440px;
  height: 4px;
  background: linear-gradient(to right, black, white);
  /* background: radial-gradient(circle, rgba(2,0,36,1) 25%, rgba(9,9,121,1) 40%, rgba(9,15,125,1) 55%, rgba(6,84,170,1) 70%, rgba(255,255,255,1) 100%); */
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.line__title span {
  background: #fff;
}

/* Navbar */

#navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;

  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(0, -20px);
}

.navbar__logo img {
  height: 90px;
  padding-left: 24px;
}

.navbar__logo a {
  display: block;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  position: relative;
}
/* 컴페티션 뒤에 오는 아이콘 나중에 확인 */
/* .navbar__menu__item.sub-menu:before{
  content: '+';
  position: absolute;
  color: var(--color-white);
  right: 0px;
  top:12px;
  
} */

.navbar__menu__item ul {
  position: absolute;
  background: var(--color-light-white);

  display: none;
}

.navbar__menu__item:hover ul {
  display: block;
}
.navbar__menu__item ul li {
  display: block;
  width: 190px;
  height: 40px;
  text-align: left;
  line-height: 15px;
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.navbar__menu__item ul li a {
  display: block;
  color: black;
  padding-left: 8px;
}

.navbar__menu__item a {
  font-weight: var(--weight-semi-bold);
  display: block;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item a {
  display: block;
  padding: 12px 8px;
}

.navbar__menu__item.active a {
  color: var(--color-orange);
}

.navbar__menu__item a:hover {
  color: var(--color-orange);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 34px;
  top: 29px;
  display: none;
}

@keyframes slide {
  0% {
    transform: translate(0, -20px);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* BGholder */

#bgholder {
  height: 5000px;
  /* margin: 0 auto; */
  padding-top: 100px;
  background: url("../img/blankbg.png") center/cover no-repeat;
  color: var(--color-white);

  overflow-x: hidden;
}

.cont {
  position: relative;
  height: 600px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.testcontainer {
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 0;
}

.box1 {
  width: 550px;
  height: 376px;
  background: url("../img/bf.png");
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: anim 2s forwards, anim2 3s forwards 3s;
}

.box1::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 376px;
  background: url("../img/af.png");
  left: -20px;
  animation: float 6s ease-in-out infinite;
  z-index: -1;
  border-radius: 60%;
}

@keyframes anim {
  from {
    bottom: -50%;
  }
  to {
    bottom: 30%;
  }
}

@keyframes anim2 {
  from {
    left: 0;
    right: 0;
    width: 550px;
  }
  to {
    width: 0px;
    left: 30px;
  }
}

.box2 {
  width: auto;
  height: auto;
  line-height: 60px;
  position: absolute;
  top: 60px;
  left: 100px;
  overflow: hidden;
}

#text {
  text-align: left;
  position: relative;
  left: -100%;
  animation: anim3 3s forwards 3s;
}

#text .text__title {
  color: var(--color-yellow);
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
}

#text .text__subtitle {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

#text .text__date {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.bgholder__register {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-top: 4px;
  /* padding: 8px 12px; */
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-blue);
}

.bgholder__register a {
  display: block;
  padding: 8px 14px;
}

.bgholder__register a:hover {
  color: var(--color-orange);
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-10px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}

.box3 {
  position: relative;
  width: 100%;
  height: 130px;
  bottom: -10%;
  /* background-color: yellow; */
}

.box3__container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: -450px;
  width: 100%;
}

.box3__container__col {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.box__container__logo1 a,
.box__container__logo2,
.box__container__logo3,
.box__container__logo4 {
  display: block;
}

.box__container__logo1 a img {
  width: 230px;
}

.box__container__logo2 a img {
  width: 260px;
  padding-top: 24px;
  margin-left: 18px;
}

.box__container__logo3 a img {
  width: 230px;
  /* padding-top:8px; */
  margin-right: 24px;
}

.box__container__logo4 a img {
  width: 180px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box3__container .box__container__logo1 {
  /*   
  width: 220px;
  height: 134px; */
  /* background: url('../img/ksi.png'); */
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo2 {
  width: 220px;
  height: 96px;
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo3 {
  width: 200px;
  height: 121px;
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo4 {
  width: 180px;
  height: 136px;

  animation: fadeIn ease 5s;
}

/* ----------------------PARALLA------------- */

.parall__overview {
  margin-top: 300px;
}

.parall__overview h1 {
  color: var(--color-white);
}

/* Slider */

#slider {
  background: url("../img/general_bg.png") center/cover no-repeat;
  padding-top: 60px;
  padding-bottom: 52px;
  /* width: 100%; */
  margin: 0 auto;
}

.slider__text__title {
  color: var(--color-yellow);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}
.slider__text__subtitle {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.slider__text__date {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

/* OVERVIEW */

.overview__content {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  margin-bottom: 40px;
}

.overview__content span {
  font-weight: var(--weight-bold);
}

.ict__container .overview__content {
  margin-bottom: 0px;
}

/* Schedule Card ----- */

#schedule {
  background-color: var(--color-white);
}
.schedule__container {
  margin: 0 auto;
  padding: 24px 0px;
}

.schedule__card {
  width: 75%;
  margin: 10px auto;
  display: flex;
  margin-left: auto;
}

.schedule__card__time {
  border-radius: 5px;
  width: 15%;
  text-align: center;
  padding: 16px 10px;

  font-weight: var(--weight-semi-bold);
  color: #4d4d4d;
}

.description__content h4 {
  padding-top: 10px;
  color: var(--color-orange);
  font-weight: var(--weight-semi-bold);
}

h4 .duration {
  color: var(--color-light-grey);
}

.description__topic h3 {
  font-weight: var(--weight-semi-bold);
}

.schedule__card__description {
  border: 2px solid var(--color-light-grey);
  border-radius: 5px;
  padding: 8px 16px;
  width: 85%;
}

.schedule__card__description .description__time {
  color: var(--color-dark-grey);
  font-weight: var(--weight-semi-bold);
  /* padding: 4px 4px; */
  border-bottom: 2px solid var(--color-dark-grey);
  line-height: 40px;
  display: none;
}

.description__content {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description__topic {
  margin: auto 0;
}

.description__speaker {
  display: flex;
  padding: 4px 12px;
}

.speaker__img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.speaker__bio {
  padding-left: 10px;
}

.speaker__bio__name {
  text-align: left;
  font-weight: var(--weight-semi-bold);
  padding-left: 4px;
}

.speaker__bio__name span {
  background-color: var(--color-blue);
  display: inline-block;
  width: 20px;
  font-size: var(--font-micro);
  text-align: center;
  color: var(--color-white);
  border-radius: 50%;
}

.speaker__bio__title {
  text-align: left;
  padding-left: 4px;
  color: var(--color-light-grey);
}

/* EVENTS */

#events {
  background: url("../img/eventsbg.jpg") center/cover no-repeat;
  border: 2px solid black;
  background-attachment: fixed;
}

.events__title h1 {
  color: var(--color-white);
  padding: 24px 0px;
}

.events__intro__title h1 {
  text-align: center;
  color: var(--color-white);
}

.events__row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.events__col {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.events__row .events__card {
  width: 280px;
  flex-wrap: wrap;
}

.events__row #events__expo {
  width: 480px;
  flex-wrap: wrap;
}

#events .events__card {
  border-radius: 5px;
}

.events__card .events__card__title {
  border-radius: 5px;

  background-color: rgba(20, 36, 83, 0.78);
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  text-align: center;
  padding: 20px 0;
}

.events__card__description {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}
.events__card__date {
  /* width: 80%; */
  margin: 0 auto;
  padding: 15px 0;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
}

.events__card__detail {
  min-width: 240px;
  padding: 40px 10px;
  color: var(--color-black);
}

.events__card__detail a {
  color: var(--color-orange);
}

.events__card__date span {
  color: var(--color-orange);
  font-weight: var(--weight-semi-bold);
}

.events__row2 {
  margin-bottom: 82px;
}

.events__row2 .events__card {
  width: 60%;
  margin: 0 auto;
  height: 250px;
}

/* Welcome */

#welcome {
  background: url("../img/genralbg.jpg") center/cover no-repeat;
  background-attachment: fixed;
  min-height: 300px;
  line-height: 100px;
}

.welcome__attend {
  padding: 24px 12px;
  text-align: center;
  color: var(--color-white);
  font-size: var(--font-medium);
  overflow: hidden;
}

#colon {
  font-size: var(--font-xlarge);
}
#approx {
  font-size: var(--font-large);
  font-style: italic;
}

#number {
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
  color: var(--color-orange);
}

/* Speakers */
#speaker {
  background-color: #f5f5f5;
}

.spaker__col {
  display: flex;
  flex-wrap: wrap;
}

.spaker__col .speaker__card {
  margin: 24px 36px;
}

.speaker__title {
  text-align: center;
  padding: 40px 0px;
  margin: 20px auto;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.speaker__topic {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.speakers {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
}

.speaker__card {
  height: 350px;
  width: 250px;
  /* padding: 24px 4px; */
  margin-top: 24px;
  position: relative;
  cursor: pointer;
}

.card__middle {
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
}

.card__front,
.card__back {
  width: 250px;
  height: 250px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.7s linear;
}

.speaker__card__img {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 3px;
}

.card__front {
  transform: perspective(600px) rotateY(0deg);
}

.card__back {
  transform: perspective(600px) rotateY(180deg);
}

.card__back__note {
  display: flex;
  padding: 30px;
  width: 250px;
  height: 250px;
  position: absolute;
  align-items: center;
  background: var(--color-white);
}

.card__back__note p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: var(--color-dark-grey);
}

.speaker__card__content {
  position: relative;
  top: 71.5%;
  height: 100px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 30px;
  color: #545454;
}

.speaker__card__content__name {
  padding: 10px 0px;
  font-weight: var(--weight-semi-bold);
}
.speaker__card__content__company {
  padding: 10px 0px;
  font-size: var(--font-micro);
  color: #a7a7a7;
}

.speaker__card__content__name h4 {
  font-weight: var(--weight-semi-bold);
}

.speaker__card__content__name h4:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: var(--color-orange);
  margin-top: 10px;
  margin-bottom: 5px;
}

.speaker__card__content__name p {
  color: #a7a7a7;
  font-size: var(--font-micro);
}

.speaker__card__tag {
  position: absolute;
  top: 0px;
  padding: 2px 8px;
  background-color: rgba(20, 36, 83, 0.78);
  color: var(--color-white);
  transform: perspective(600px) rotateY(0deg);
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
  border-radius: 5px;
}

.speaker__card:hover .speaker__card__tag {
  transform: perspective(600px) rotateY(-180deg);
}

.speaker__card img {
  transition: transform 0.5s ease;
}

.speaker__card:hover .card__front {
  transform: perspective(600px) rotateY(-180deg);
}

.speaker__card:hover .card__back {
  transform: perspective(600px) rotateY(0deg);
}
.speaker__card:hover img {
  transform: scale(1.03);
  cursor: pointer;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.speaker__card:hover .speaker__card__content__more {
  opacity: 1;
  cursor: pointer;
}

.speaker__card .speaker__card__content__more .text {
  background-color: rgba(14, 29, 75, 0.78);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: var(--weight-bold);
}

.speaker__card .speaker__card__content__more {
  transition: 2.3s ease;
  opacity: 0;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Speaker modal */
.speaker__modal {
  background: #fff;
  color: #556270;
  position: fixed;
  top: 0%;
  right: 0%;
  transform: translate3d(100%, 0, 0);
  transition: 900ms ease-in-out;
  z-index: 10;
  max-height: 100%;
  min-height: 100%;
  max-width: 640px;
  overflow-x: hidden;
  overflow-y: auto;
}

.speaker__modal__header {
  position: relative;
  min-height: 40px;
}

.speaker__modal__closeButton {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border-radius: 0;
  background: var(--color-orange);
  color: #fff;
  height: 40px;
  width: 40px;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-out;
}

.speaker__modal__imgwrap {
  overflow: hidden;
  min-width: 640px;
  min-height: 640px;
  max-width: 640px;
  max-height: 640px;
  height: auto;
  width: auto;
}

.speaker__modal__img {
  max-width: 640px;
  max-height: 640px;
  min-width: 640px;
  min-height: 640px;
  border-radius: 0;
}

.speaker__modal__heading {
  bottom: -41.5px;
  position: absolute;
  right: 0;
  float: none;
  color: #fff;
  opacity: 1;
  text-align: right;
}

.speaker__modal__heading h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 !important;
  line-height: 1 !important;
  padding: 10px 20px;
  background: var(--color-orange);
  color: #fff;
  font-size: 26px;
  min-width: 317.8px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.speaker__modal__subTitle {
  display: inline-block;
  font-weight: lighter;
  text-align: center;
  line-height: 1 !important;
  padding: 10px 20px;
  background: #556270;
  font-size: 22px;
  min-width: 220px;
}

.speaker__modal__content {
  padding-top: 72px;
  padding: 70px 40px 20px;
}

.speaker__modal__content p {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
}

/* background darkens when card clicked */
#speakerOverlay {
  position: fixed;
  opacity: 0;
  transition: 700ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /*Allows button events by default*/
}

.speaker__modal.active {
  /* Trasition from right side */
  transform: translate3d(0, 0, 0);
}

#speakerOverlay.active {
  opacity: 1;
  pointer-events: all; /*Prevents button events out outside of the panel*/
}

#cardList__smartAppliances .speaker__card__content__more {
  border: 1.5px solid #967cfd;
  border-radius: 5px;
}

#cardList__telecomunications .speaker__card__content__more {
  border: 1.5px solid #569cd5;
  border-radius: 5px;
}

#cardList__itServices .speaker__card__content__more {
  border: 1.5px solid #7fd0d8;
  border-radius: 5px;
}

#cardList__adas .speaker__card__content__more {
  border: 1.5px solid #86e68e;
  border-radius: 5px;
}

#cardList__security .speaker__card__content__more {
  border: 1.5px solid #f69785;
  border-radius: 5px;
}

#cardList__biotech .speaker__card__content__more {
  border: 1.5px solid #688dc9;
  border-radius: 5px;
}

#cardList__robotics .speaker__card__content__more {
  border: 1.5px solid #f89f71;
  border-radius: 5px;
}

.speaker__card__content__more .text {
  /* background-color: rgba(14, 29, 75, 1); */
  background-color: var(--color-white);
  color: var(--color-orange);
  color: var(--color-dark-grey);
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: var(--weight-bold);
}

/* company modal */
.partnerPanel {
  /* Trasition from right side */
  position: fixed;
  top: 0%;
  right: 0%;
  transform: translate3d(100%, 0, 0);
  max-width: 72vh;
  transition: 900ms ease-in-out;
  border-radius: 11px;
  z-index: 10;
  background-color: var(--color-white);
  min-height: 100vh;
  max-height: 100%;
}

.partnerPanel__header {
  position: relative;
}

.partnerPanel__closeBtn {
  /* Trasition from right side */
  position: absolute;
  top: 0.8%;
  right: 2%;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.partnerPanel__imgContainer {
  border-radius: 11px;

  min-width: 72vh;
  min-height: 100vh;
  max-width: 72vh;
  max-height: 100vh;
  height: auto;
  width: auto;
}

.partnerPanel__logo {
  max-width: 72vh;
  max-height: 100vh;
  min-width: 72vh;
  min-height: 100vh;
  border-radius: 11px;
}

.partnerPanel.active {
  /* Trasition from right side */
  transform: translate3d(0, 0, 0);
}

/* TESTIMONIAL */

#testimonials {
  background: url("../img/bg4.jpg");

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  border: 2px solid var(--color-white);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  border-radius: 5px;
  padding: 18px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble .name {
  color: #545454;
  font-weight: var(--weight-semi-bold);
}

/* Footer */
#footer {
  background-color: var(--color-blue);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contact__form {
  width: 22em;
}

.footer__contact__form p {
  font-size: var(--font-small);
  color: var(--color-white);
}

.footer__description {
  width: 50%;
}

.footer__description p {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

.footer__description img {
  width: 18em;
}

.footer__description__detail p {
  font-size: var(--font-small);
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  /* BGholder */

  .box__container__logo1 a img {
    width: 180px;
  }

  .box__container__logo2 a img {
    width: 180px;
  }

  .box__container__logo3 a img {
    margin-top: 12px;
    width: 160px;
  }

  .box__container__logo4 a img {
    width: 143px;
  }

  /* Events */
  .events__row {
    flex-direction: column;
  }

  .events__col {
    width: 100%;
  }

  .events__row .events__card {
    width: 300px;
    margin: 24px 8px;
    flex-wrap: wrap;
  }
}

/* For below 768px screen widht */

@media screen and (max-width: 768px) {
  /* Navbar  START----------*/

  #navbar {
    background-color: var(--color-blue);
  }

  .navbar__menu {
    background-color: var(--color-blue);
  }

  .navbar__toggle-btn {
    display: block;
    right: 18px;
  }

  .navbar__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .sub-menu ul {
    position: relative;
  }
  .navbar__menu__item ul li {
    /* display: block; */
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 15px;
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
  }
  /* 나중에 확인,  */
  #slider {
    padding-top: 140px;
  }

  /* .navbar__menu__item.sub-menu:before{
  
    right: 500px;
  
    
  } */

  .sub-menu__list {
    display: none;
  }

  .sub-menu__list.open {
    display: block;
  }

  /* Navbar  END----------*/

  /* BGholder */
  .box3__container {
    flex-wrap: wrap;
    bottom: -560px;
  }

  .box3__container {
    flex-direction: column;
  }

  .box3__container__col {
    justify-content: space-evenly;
    width: 100%;
  }

  @keyframes anim {
    from {
      bottom: -50%;
    }
    to {
      bottom: 20%;
    }
  }

  @keyframes anim2 {
    from {
      left: 0;
      right: 0;
      width: 550px;
    }
    to {
      width: 0px;
      left: -250px;
    }
  }

  #text .text__title {
    color: var(--color-yellow);
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
  }

  #text .text__subtitle {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
  }

  #text .text__date {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
  }

  .bgholder__register {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    /* padding: 8px 12px; */
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
    background-color: var(--color-dark-blue);
  }

  .bgholder__register a {
    display: block;
    padding: 8px 14px;
  }

  .bgholder__register a:hover {
    color: var(--color-orange);
  }

  /* Speaker */

  .spaker__col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .spaker__col .speaker__card {
    margin: 24px auto;
  }

  /* INTRODUCTION START------- */

  .card__container {
    flex-direction: column;
    margin: 0 auto;
  }

  .introduction__card {
    margin: 28px auto;
  }

  /* WELCOME SECTION */

  #welcome {
    line-height: 50px;
  }

  /* Schedule */

  .schedule__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .schedule__container .schedule__card {
    width: 100%;
  }

  .schedule__card .schedule__card__description {
    margin: 0 auto;
    width: 90%;
    padding: 6px 8px;
  }

  .schedule__card__description .description__time {
    display: block;
  }

  .schedule__card .schedule__card__time {
    display: none;
  }

  /* PROGRAM OVERVIEW */

  .events__col {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* Footer */

  .footer__container {
    flex-direction: column;
  }

  .footer__contact__form {
    width: 100%;
    margin-bottom: 42px;
  }

  .footer__description {
    width: 100%;
  }
  /* .footer__description img {
    width: 80%;
  } */
}

@media screen and (max-width: 425px) {
  .box1 {
    background: url("../img/head_text.png") no-repeat;
    animation: anim 2s forwards;
    animation: float 6s ease-in-out infinite;
  }

  .box1::after {
    display: none;
  }

  #text {
    bottom: 10px;
  }

  #text .bgholder__register {
    left: 40px;
  }

  .testcontainer .box2 {
    left: 40px;
    margin-left: -22px;
  }

  #text .text__subtitle {
    line-height: 100%;
  }

  @keyframes anim3 {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }

  .box__container__logo1 a img {
    width: 160px;
  }

  .navbar__logo {
    align-items: center;
  }
}
