/* Global */
:root {
  /* Color */
  --color-white: #FDFDFD;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #012E55;
  --color-dark-blue: #143749;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-brown: #6B5F5C;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-xlarge: 68px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */

  --size-border-radius: 4px;
}

/* Universal tags */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section common */
.section {
  text-align: center;
  padding:28px 12px;
  max-width: 1280px;
  margin: 0 auto;

}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.line__title {
  padding: 24px 0px 36px 0px;
}

.line__title h2 {
  font-weight: var(--weight-bold);
  position:relative;
  margin: 48px auto;
  padding: 0 24px;

}

.line__title h2:before{
  content: " ";
  display:block;
  width: 440px;
  height:4px;
  background: linear-gradient(to left, black, white);
/* background: radial-gradient(circle, rgba(2,0,36,1) 25%, rgba(9,9,121,1) 40%, rgba(9,15,125,1) 55%, rgba(6,84,170,1) 70%, rgba(255,255,255,1) 100%); */
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
  
}

.line__title h2:after{
  content: " ";
  display:block;
  width: 440px;
  height:4px;
  background: linear-gradient(to right, black, white);
  /* background: radial-gradient(circle, rgba(2,0,36,1) 25%, rgba(9,9,121,1) 40%, rgba(9,15,125,1) 55%, rgba(6,84,170,1) 70%, rgba(255,255,255,1) 100%); */
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.line__title span{
  background: #fff
  }




/* Refacotor it later!!!!!!!!!!!! */
/* .navbar__wrapper {
  width: 1280px;
  margin: 0 auto;
} */

/* Navbar */

#navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  transform: translate(0, -20px)
}

.navbar__logo img {

  height: 90px;
}

.navbar__menu {
  display: flex;

}

.navbar__menu__item a {
  font-weight: var(--weight-semi-bold);;
  padding: 6px 8px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item a {
  
  padding: 4px 8px;
}

.navbar__menu__item.active a {
  /* border: 1px solid var(--color-white); */
  color: var(--color-orange);
  
}

.navbar__menu__item a:hover {
  /* background-color: var(--color-dark-blue);
   */
   color: var(--color-orange);
}

@keyframes slide {
  0% {
    transform: translate(0, -20px);
    opacity:.1
  }
  100% {
    transform: translate(0, 0);
    opacity:1
  }
}


/* BGholder */

#bgholder {
  height: 1000px;
  margin: 0 auto;
  padding-top: 160px;
  background: url("../img/blankbg.png") center/cover no-repeat;
  color: var(--color-white);

}

.cont{
  position: relative;
  height: 600px;
  max-width: 1200px;
  margin: 0 auto;
}

.testcontainer{
  
  position: absolute;
  height: 600px;
  width: 100%;
  z-index:0;
}

.box1{
  /* border: 1px solid white; */
  width: 550px;
  height: 376px;
  background: url('../img/bf.png');
  position: absolute;
  bottom: 10%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  animation: anim 2s forwards, anim2 3s forwards 3s;
  
 
}

.box1::after{
  content: '';
  position: absolute;
  width: 550px;
  height: 376px;
  background: url('../img/af.png');
  left: 0px;
  animation: float 6s ease-in-out infinite;
  z-index:-1;
}


@keyframes anim{
  from{
    bottom: -50%;
  }to{
    bottom: 30%;
  }
}

@keyframes anim2{
  from{
    left:0;
    right:0;
    /* left:20%; */
    width: 550px;
  }to{
    width:0px;
    left:10%;
   
  }
}

.box2 {
  width: auto;
  height: auto;
  line-height: 60px;
  position: absolute;
  top:60px;
  left:100px;
  overflow: hidden;
}

#text{

  text-align: left;
  position: relative;
  left: -100%;
  animation: anim3 3s forwards 3s;
}

#text .text__title{
  color: var(--color-yellow);
  font-size: var(--font-xlarge);
  font-weight: var(--weight-bold);
}

#text .text__subtitle{
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

#text .text__date{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.bgholder__register {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  /* padding: 8px 12px; */
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-blue);

}

.bgholder__register a{
  display: block;
  padding: 8px 14px;

}


.bgholder__register a:hover{
  color: var(--color-orange);
}



@keyframes anim3{
  from{
    left: -100%;
  }to{
    left: 0%;
  }
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-10px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

.box3{
  position: absolute;
  width: 1200px;
  height: 130px;
  bottom: -10%;
  /* background-color: yellow; */
  
}

.box3__container {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.box__container__logo1 a{
  
  display: block;
  width: 220px;
  height: 134px;
  cursor: pointer;
}

.box__container__logo2 a{
  
  display: block;
  width: 220px;
  height: 96px;
  cursor: pointer;
}

.box__container__logo3 a{
  
  display: block;
  width: 200px;
  height: 121px;
  cursor: pointer;
}

.box__container__logo4 a{
  
  display: block;
  width: 180px;
  height: 136px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }


  

.box3__container .box__container__logo1{
  
  width: 220px;
  height: 134px;
  background: url('../img/ksi.png');
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo2{
  width: 220px;
  height: 96px;
  background: url('../img/kotra.png');
  animation: fadeIn ease 5s;
  
}

.box3__container .box__container__logo3{

  width: 200px;
  height: 121px;
  background: url('../img/nipa.png');
  animation: fadeIn ease 5s;
}

.box3__container .box__container__logo4{

  width: 180px;
  height: 136px;
  background: url('../img/KIC.png');
  animation: fadeIn ease 5s;
}

/* EVENTS */

#events {
 
  background: url('../img/eventsbg.jpg') center/cover no-repeat;
  border:2px solid black;
  background-attachment: fixed;
}


.events__intro__title h1{
  text-align: center;
  color: var(--color-white);
}

.events__container{

  height: 100%;
}




.events__row{
 
  display: flex;
  justify-content: space-between;
  margin: 24px auto;

}

.events__row .events__card {
  margin: 0 auto;
}



#events .events__card {

  border-radius: 5px;

}

.events__card .events__card__title{
  border-radius: 5px;

  background-color: rgba(20, 36, 83, 0.78);
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  text-align: center;
  padding: 20px 0;

}

.events__card__description{
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  
  
}
.events__card__date {
  /* width: 80%; */
  margin: 0 auto;
  padding: 15px 0;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);

  
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.events__card__detail {
  /* min-width: 240px; */
  padding: 40px 10px;
  color: var(--color-black);

}

.events__card__detail a {

  color: var(--color-orange);

}

.events__card__date span {
  color: var(--color-orange);
  font-weight: var(--weight-semi-bold);
}


/* Speakers */
#speaker{
  background-color: #F5F5F5 ;
}


.spaker__col {
  display: flex;
}

.spaker__col .speaker__card {
  margin: 24px 12px;
}

.speaker__title{
  text-align: center;
  padding: 40px 0px;
  margin: 20px auto;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.speaker__topic {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.speakers{
  display: flex;
  justify-content: space-around;
  padding:0;
  margin:0 auto;
  flex-wrap: wrap;
  
  
}

.speaker__card {
  height: 350px;
  width: 250px;
  /* padding: 24px 4px; */
  margin-top:24px;
  /* position: relative; */
  
}

.speaker__card__img{
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 3px;
}

.speaker__card__content{
  height: 100px;
  background-color: #FFFFFF;
  padding:0;
  margin:0;
  text-align: center;
  line-height: 30px;
  color: #545454;
}

.speaker__card__content__name{
  padding: 10px 0px;
  font-weight: var(--weight-semi-bold);
}
.speaker__card__content__company{
  padding: 10px 0px;
  font-size: var(--font-micro);
  color: #a7a7a7;
 
}

.speaker__card__content__name h4 {
  font-weight: var(--weight-semi-bold);
}

.speaker__card__content__name h4:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 0 auto;
  /* background-color: #fac42b; */
  background-color: var(--color-orange);
  margin-top: 10px;
  margin-bottom: 5px;
}

.speaker__card__content__name p {
  color: #a7a7a7;
  font-size: var(--font-micro);
}

.speaker__card__tag {
  position: absolute;
  top:0px;
  padding:2px 8px;
  background-color: rgba(20, 36, 83, 0.78);
  color: var(--color-white);

}


.speaker__card img {
  transition: transform .5s ease;
}

.speaker__card:hover img {
  
  transform: scale(1.03);
  cursor: pointer;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.speaker__card:hover .speaker__card__content__more {
  opacity: 1;
  cursor: pointer;
}



.speaker__card__content__more .text{
  background-color: rgba(14, 29, 75, 0.38);
  color: var(--color-orange);
  color: var(--color-white);
  padding:4px 8px;
  border-radius: 5px;
  font-weight: var(--weight-bold);

}


.speaker__card__content__more {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} 



/* TESTIMONIAL */

#testimonials{
  
  background: url('../img/bg4.jpg');

  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
    
}

.testimonials{
  margin:40px;

}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar{
  border: 2px solid var(--color-white);
  width:150px;
  height:150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd){
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even){
  margin-left: 40px;
}

.testimonial__speech-bubble{
  border-radius: 5px;
  padding: 18px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble .name {
  color: #545454;
  font-weight: var(--weight-semi-bold);
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}

.contact__container {
  display: flex;
  justify-content: space-between;
}

.contact__contact__form {
  
  width: 50%;
}


.contact__contact__form p {
  font-size: var(--font-small);
  color: var(--color-white);
}

.contact__description{
  width: 50%;
}

.contact__description p{
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
}

.contact__description img {
  
  width: 350px;
}

.contact__description__detail p{
  font-size: var(--font-small);
  color: var(--color-white);
}